In [4]:
import pandas as pd
from pathlib import Path 
from tqdm import tqdm

In [5]:
OUTPUT_FOLDER = Path("output")

In [28]:
dataframes = []
filenames = list(OUTPUT_FOLDER.glob("**/results.pkl"))
filenames.sort()
for session_name in tqdm(filenames):
    df = pd.read_pickle(session_name)
    new_index = [(session_name.parent.name, x.split('-')[0]) for x in df.index]
    df.index = pd.MultiIndex.from_tuples(new_index)
    dataframes.append(df)

dataframes = pd.concat(dataframes)
dataframes

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 29/29 [00:00<00:00, 454.64it/s]

                                                          2022        \
                                             Did you enjoy it?
                                                          True False
27-18 - TESLA OPENING - 257 ppl attending 01
                                          02
                                          03
                                          04
                                          05
...                                                        ...   ...
?-? - unspecified                         22
                                          23
                                          24
                                          25
                                          26

                                                                            \
                                             Was it as you expected?
                                                                True False
27-18 - TESLA OPENING - 257 ppl attending 01
                                          02
                                          03
                                          04
                                          05
...                                                              ...   ...
?-? - unspecified                         22
                                          23
                                          24
                                          25
                                          26

                                                                         \
                                             Was the duration and Level
                                                             Just right
27-18 - TESLA OPENING - 257 ppl attending 01
                                          02
                                          03
                                          04
                                          05
...                                                                 ...
?-? - unspecified                         22
                                          23
                                          24
                                          25
                                          26

                                                                        \
                                                             Age range
                                             Too complicated    6 - 10
27-18 - TESLA OPENING - 257 ppl attending 01
                                          02
                                          03
                                          04
                                          05
...                                                      ...       ...
?-? - unspecified                         22
                                          23
                                          24
                                          25
                                          26

                                                                          ...  \
                                                                          ...
                                             11 - 15 16 - 24 25 and over  ...
27-18 - TESLA OPENING - 257 ppl attending 01                              ...
                                          02                              ...
                                          03                              ...
                                          04                              ...
                                          05                              ...
...                                              ...     ...         ...  ...
?-? - unspecified                         22                              ...
                                          23                              ...
                                          24                              ...
                                          25                              ...
                                          26                              ...

                                                                                    2023  \
                                             The sessions was the right length and level
                                                                                       4
27-18 - TESLA OPENING - 257 ppl attending 01
                                          02                                           X
                                          03                                           X
                                          04                                           X
                                          05
...                                                                                  ...
?-? - unspecified                         22                                           X
                                          23
                                          24
                                          25                                           X
                                          26                                           X

                                                       \

                                              5 Agree
27-18 - TESLA OPENING - 257 ppl attending 01  X     X
                                          02
                                          03
                                          04
                                          05  X
...                                          ..   ...
?-? - unspecified                         22
                                          23  X
                                          24  X
                                          25
                                          26

                                                                                       \
                                             I will come back to the World of Physics
                                                                             Disagree
27-18 - TESLA OPENING - 257 ppl attending 01
                                          02
                                          03
                                          04
                                          05
...                                                                               ...
?-? - unspecified                         22
                                          23
                                          24
                                          25
                                          26



                                             1  2  3   4  5 Agree
27-18 - TESLA OPENING - 257 ppl attending 01              X     X
                                          02              X
                                          03              X
                                          04              X
                                          05              X
...                                          .. .. .. .. ..   ...
?-? - unspecified                         22              X
                                          23              X
                                          24           X
                                          25              X
                                          26              X

[627 rows x 51 columns]

In [29]:
dataframes.to_excel("output/combined-results.xlsx")